@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap");
.about {
  margin: 1rem;
}
.card2 {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.card-items2 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.about h1 {
  font-family: "Exo 2";
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .card2 {
    flex-direction: column;
    gap: 4rem;
  }
}
