@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap");
.explore {
  margin: 1rem;
}
.card {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.explore h1 {
  font-family: "Exo 2";
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    gap: 4rem;
  }
}
